<ActionBar title="Tour">
</ActionBar>

<GridLayout >
    <Mapbox
        accessToken="sk.eyJ1IjoiZWRkeXZlcmJydWdnZW4iLCJhIjoia1JpRW82NCJ9.OgnvpsKzB3GJhzyofQNUBw"
        mapStyle="traffic_day"
        zoomLevel="15"
        latitude="54.584232"
        longitude="-5.936611"
        showUserLocation="true"
        hideCompass="false"
        disableZoom="false"
        disableRotation="false"
        disableScroll="false"
        disableTilt="false"
        (mapReady)="onMapReady($event)">
    </Mapbox>
</GridLayout>
