<ActionBar>
    <Label text="Tour"></Label>
</ActionBar>

<StackLayout class="page">
        <Mapbox
            #map
            accessToken="sk.eyJ1IjoidGhvbWFzYmlnZ2VyNTg0IiwiYSI6ImNrMzJjdWZyOTBoMWIzbG1qejFzaHg0N3QifQ.4ksjKiGgfq0unirlEN1u5g"
            mapStyle="traffic_day"
            hideCompass="false"
            zoomLevel="10"
            showUserLocation="true"
            disableZoom="false"
            disableRotation="false"
            disableScroll="false"
            disableTilt="true"
            (mapReady)="onMapReady($event)">
        </Mapbox>
    </StackLayout>
