<ActionBar title="Home">
</ActionBar>
<GridLayout columns="*" rows="5*, *"  backgroundColor="blue">

    <Pager peaking="15%" spacing="8%" col="0" row="0" [items]="items" showIndicator="true" loadMoreCount="5" #pager>

        <ng-template let-i="index" let-item="item">
            <GridLayout class="pager-item">
                <GridLayout height="85%">
                    <ImageCacheIt [src]="item.image"></ImageCacheIt>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </Pager>

    <GridLayout col="0" row="1">
        <Button text="Button.-primary.-rounded-lg" class="-primary -rounded-lg" text="Start Tour"
            (tap)="onStartTourPress($event)"></Button>
    </GridLayout>

</GridLayout>
